* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

.empty-message {
  font-size: 25px;
  margin: 120px auto;
  display: block;
  text-align: center;
}
/* 
.App {
  position: relative;
} */
